.featurs-navbar {
  text-align: center;
  margin-top: 100px;
}

.featurs-navbar .featurs-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #dc780b;
  opacity: 0.7;
}

.featurs-navbar .featurs-subtitle {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 35px;
  text-transform: capitalize;
  color: #150c01;
  margin-top: 7px;
}
